.header {
    background-color: #f0f4f8; // Calm background color
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); // Subtle shadow
  
    .header__title {
      font-size: 24px;
      color: #354052; // Dark text color
      margin: 0;
    }
  }
  